/* RGB */
:root {
--color-sky-blue: rgba(101, 222, 241, 1);
--color-diamond: rgba(188, 244, 245, 1);
--color-spanish-gray: rgba(154, 143, 151, 1);
--color-gray: rgba(195, 186, 186, 1);
--color-blaze-orange: rgba(249, 105, 0, 1);
}

.App {
  text-align: center;
}

.timer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.clock {
  height: 32%;
  padding-top: 16vh;
  background-color: var(--color-diamond);
}

.display {
  height: 68%;
  display: flex;
}

.display h3 {
  border: 1px solid black;
  width: 90%;
  background-color: var(--color-blaze-orange);
}

.solve-stats {
  width: 68%;
  background-color: var(--color-gray);
}

.solve-history {
  width: 32%;
  background-color: var(--color-spanish-gray);
}